<form [formGroup]="form" style="margin: 5%;" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="#ID" formControlName="id" matInput type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Titulo" formControlName="title" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Precio" formControlName="price" matInput type="number">
                    </mat-form-field>
                    <div *ngIf="fillPrice.errors && fillPrice.dirty">
                        <mat-error *ngIf="fillPrice.hasError('price_invalid')">Debe ser menor de 10000</mat-error>
                        <mat-error *ngIf="fillPrice.hasError('required')">Este campo es requerido</mat-error>
                    </div>
                  
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea placeholder="Description" formControlName="description" matInput type="text"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="col-xs-5">
                <button class="actionButton" mat-dialog-close mat-raised-button  type="submit">
                    Agregar
                </button>
            </div>
            <div class="col-xs-5">
                <button class="actionButton" mat-dialog-close mat-raised-button>Cancelar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>